<label class="list-group-item d-flex gap-2">
    <input class="form-check-input flex-shrink-0 todoCheckBox" name="todoCheckBox"  type="checkbox" value=<%= checkValue %>  <%= isChecked %>>
    <span class="todoText">
      <%= todo %> 
</label>








