  <!--Nav bar -->
  <nav class="navbar " style="background-color:#C5997B">
    <div class="container-fluid">
      <a class="navbar-brand" href="/pageToday" method="GET">
        <!-- Calendar icon -->
        <span class="material-symbols-outlined d-inline-block align-text-top" alt="Logo" width="3" height="3" > 
          calendar_month
        </span>
        Today
      </a>
      <a class="navbar-brand" href="/pageWork" method="GET">
        <!-- work icon -->
        <span class="material-symbols-outlined d-inline-block align-text-top" alt="Logo" width="3" height="3" > 
          work
        </span>
        Work
      </a>
      
    </div>
  </nav>